<div style="padding: 0px 10px 0px 10px;">
    
    <h1>ph meter.</h1>
    <a href="https://www.ti.com/lit/an/snoa529a/snoa529a.pdf?ts=1608374569437&ref_url=https%253A%252F%252Fwww.google.com%252F">Link</a>
    
    <p>
        A pH electrode measures hydrogen ion(H+) activity and produces an electrical potential or voltage.
    
        The modern pH electrode is a combination electrode composed of two main parts: a glass electrode and a reference electrode. pH is determinedes sentially by measuring the 
        voltage difference between these two electrodes. At the tip of the electrodeis the thin membrane that is a specific type of glass that is capable of ion exchange.
        It is this element that senses the hydrogen ion concentration of the test solution. The reference electrode potentialis constantandis produced by the reference electrode 
        internal element in contact with the reference-fill solution that is kept at a pH of seven.
    </p>
    <img src="../../../assets/icons/phMetrScheme.svg" alt="pH meter" style="max-width: 280px;" class="center">
    
    <p>
        The pH electrode is a passive sensor, which means no excitati on source (voltage or current) is required. 
        Because the electrode's output can swing above and below the reference point, it is classified as a bipolar sensor. 
        It produces a voltage output that is linearly dependent up on the pH of the solution being measured.
    </p>
    
    <p>
        The source impedance of a pH electrode is very high because the thin glass bulb has a large resistance that is typically in the range of 10MΩ to 1000MΩ. 
        This means that the electrode can only be monitored by a high-impedance measuring device.
    </p>
    
    <h4>The transfer function of the pH electrode is:</h4>
    <img src="../../../assets/icons/pHCalcFunc.svg">
    <p>where:</p>
    <p>• pH(X) = pH of unkown solution(X)</p>
    <p>• pH(S) = pH of standard solution = 7</p>
    <p style="margin-bottom: 2px;">• Es = Electric potential at reference or standard electrode</p>
    <p>• Ex = Electric potential at pH-measuring electrode</p>
    <p>• F is the Faraday constant = 9.9485309*10^4 C/mol</p>
    <p>• R is the universal gas constant = 8.314510 J/(K*mol)</p>
    <p>• T is the temperature in Kelvin</p>
    <br>
    <p>
        The transfer function in Figure2 and Figure3 shows that as the pH of the solution increases, the voltage produced by the pH-measuring electrode decreases.
    </p>
    
    <img src="../../../assets/icons/phElectrodeTransferFunction.svg" alt="ph electrode tranfer function" style="max-width: 380px;" class="center">
    <br>
    <br>
    <img src="../../../assets/icons/phScale.svg" alt="ph scale" style="max-width: 380px;" class="center">
    
    <h1>Acid-base titration.</h1>
    <a href="https://courses.lumenlearning.com/introchem/chapter/acid-base-titrations/">Link</a>
    
    <p>
    An acid-base titration is an experimental procedure used to determined the unknown concentration of an acid or base by precisely 
    neutralizing it with an acid or base of known concentration. This lets us quantitatively analyze the concentration of the unknown solution. 
    Acid-base titrations can also be used to quantify the purity of chemicals.
    </p>
    
    <p>
        The solution in the flask contains an unknown number of equivalents of base (or acid). 
        The burette is calibrated to show volume to the nearest 0.001 cm3. It is filled with a solution of strong acid (or base) of known concentration. 
        Small increments are added from the burette until, at the end point, one drop changes the indicator color permanently. 
        (An indication of the approaching equivalence point is the appearance, and disappearance after stirring, of the color that the indicator assumes beyond neutralization.) 
        At the equivalence point, the total amount of acid (or base) is recorded from the burette readings. 
        The number of equivalents of acid and base must be equal at the equivalence point.
    </p>
    
    <img src="../../../assets/icons/acidBaseTitration.svg" alt="acid base titration" style="max-width: 700px;" class="center">
    
    <h4>
        Acid-Base Direct Titration Calculations.
    </h4>
    
    <a href="https://www.ausetute.com.au/titrcalc.html">Link</a>

</div>