<h1 style="margin-left: 10px;" #title>Titration</h1>

<div class="content">
    <div class="sim-grid">
        <mat-grid-list cols="40" rowHeight="10%">

            <mat-grid-tile rowspan='10' colspan='6' class="shadow">
                <div class="titration-container">
        
                    <mat-grid-list cols="1" rowHeight="5%">
                        <mat-grid-tile rowspan='13' colspan='1'>
                            <div class='biureta-container'>
                                <div class='biureta-stack'>
                                    <img src="../../../assets/icons/biureta_full.svg" class="biureta-full">
                                    <div class='white-container' #whiteContainer></div>
                                    <img src="../../../assets/icons/biureta_empty.svg" class="biureta-empty">
                                </div>
                            </div>
                        </mat-grid-tile>
                
                        <mat-grid-tile rowspan='6' colspan='1'>
                            <div class='beaker-with-water-drop-container'>
                                <div class="water-drop-container" #waterDropContainer>
                                    <img src="../../../assets/icons/water_drop.svg" class="water_drop">
                                </div>
                                <div class='beaker-container'>
                                    <img src="../../../assets/icons/beaker_with_phMetr_red.svg" class="beaker_with_phMetr" #beaker>
                                </div>
                            </div>
                        </mat-grid-tile>
                    </mat-grid-list>
                
                </div>
            </mat-grid-tile>
    
            <mat-grid-tile rowspan='6' colspan='34' class="shadow">
                <div class="border chart-container">
                    <app-titration-chart class='chart'></app-titration-chart>
                </div>
            </mat-grid-tile>
    
            <mat-grid-tile rowspan='1' colspan='1'>
            </mat-grid-tile>
            
        </mat-grid-list>
    </div>

    <div class='interface-container shadow'>

        <div style="padding: 10px 10px 10px 10px;">
            <div>
                <h4 style="margin-top: 10px; margin-bottom: 0">How to use:</h4>
                <p style="margin-top: 2px;">Press "Start" button to start titration.</p>
                <p style="margin-bottom: 0">Press "Restart" button to retart titration (all data will be lose).</p>
                <button class="start-btn" (click)="startTitration()">Start</button>
                <button class="restart-btn" (click)="restartPage()">Restart</button>
            </div>
            <h4 style="margin-top: 10px; margin-bottom: 0">To do:</h4>
            <div *ngIf="showInstruction">
                <p style="margin-top: 2px;">Calculate the concentration of the HCl solution.</p>
                <p>The initial amount of HCl solution is 0.02 dm3.</p>
                <p>NaOH base at a concentration of 0.1 mol / dm3 was added to the HCl solution.</p>
                <p>One mole of HCL is reacted with one mole of NaOH solution</p>
            </div>

            <div *ngIf="!showInstruction">
                <p style="margin-top: 2px;">Calculate the concentration of the H2SO4 solution.</p>
                <p>The initial amount of H2SO4 solution is 0.08 dm3.</p>
                <p>KOH base at a concentration of 0.1 mol / dm3 was added to the H2SO4 solution.</p>
                <p>One mole of H2SO4 is reacted with one mole of NaOH solution</p>
            </div>

            <div class='user-value-container'>
                <input class="user-value-inpt" #userValue>
                <button class="voltage-check-btn" (click)="checkUserInput($event)">Check</button>
                <span style="margin-left: 6px;" #checkStatusSpan></span>
            </div>

            <div style="margin-top: 10px;">
                <button (click)="this.showEquations = !this.showEquations">Show/hide equations</button>
                <div class="equation-info" *ngIf="showEquations">
                    <div>
                        <div>
                            <p>The transfer function of the pH electrode is:</p>
                            <img src="../../../assets/icons/pHCalcFunc.svg">
                            <p>where:</p>
                            <p>• pH(X) = pH of unkown solution(X)</p>
                            <p>• pH(S) = pH of standard solution = 7</p>
                            <p style="margin-bottom: 2px;">• Es = Electric potential at reference or standard electrode</p>
                            Es for currect temperature: 59.16mV
                            <p>• Ex = Electric potential at pH-measuring electrode</p>
                            <p>• F is the Faraday constant = 9.9485309*10^4 C/mol</p>
                            <p>• R is the universal gas constant = 8.314510 J/(K*mol)</p>
                            <p>• T is the temperature in Kelvin</p>
                        </div>
                    </div>
    
                    <div style="margin-left: 20px;">
                        <div>
                            <p>Molar concentration formula is:</p>
                            <img src="../../../assets/icons/solution_concentration.svg" style="width: 110px;">
                            <p>where:</p>
                            <p>• Cmol = molar concentration [mol/L]</p>
                            <p>• n = moles of solute [mol]</p>
                            <p>• V = liters of solution</p>
                        </div>

                        <div *ngIf="showInstruction">
                            <b>HCl 	+ 	NaOH	→ 	NaCl 	+ 	H2O</b>
                        </div>
    
                        <div *ngIf="!showInstruction">
                            <b>H2SO4	+ 	2KOH	→ 	K2SO4	+ 	2H2O</b>
                        </div>

                    </div>


                </div>
            </div>
            
            <h4 style="margin-top: 10px; margin-bottom: 0">Table:</h4>
            <div class="table-container shadow">
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                    <ng-container matColumnDef="V">
                    <th mat-header-cell *matHeaderCellDef> V [dm^3] </th>
                    <td mat-cell *matCellDef="let element"> {{element.V}} </td>
                    </ng-container>
                

                    <ng-container matColumnDef="voltage">
                    <th mat-header-cell *matHeaderCellDef> Voltage [V] </th>
                    <td mat-cell *matCellDef="let element"> {{element.voltage}} </td>
                    </ng-container>
                
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>
        </div>
        
    </div>
</div>