* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Open Sans, Arial, sans-serif;
    overflow-x: hidden;
}

nav {
    position: absolute;
    height: 90%;
    z-index: 1000;
    width: 280px;
    background-color: rgb(255, 255, 255);
    padding: 8px 8px 0px 8px;
}
.active-nav nav {
    transform: translate3d(0, 0, 0);
}
nav ul {
    list-style: none;
}

li {
    height: 40px;
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.2);
    margin-bottom: 2px;
}

li:hover {
    background-color: rgb(212, 236, 255);
}

nav ul li a {
    text-decoration: none;
    display: block;
    text-align: left;
    color: rgb(0, 0, 0);
    padding: 4px 0;
    margin-left: 8px;
}

.nav-bar-button {
    position: relative;
    top: 5px;
    width: 30px; 
    height: 30px;
}

.main-list {

}

.sub-menu {
    display: none;
    margin-left: 10px;
}

.a-clickable-without-href {
    cursor: pointer; 
}