<nav class="shadow" #transform>
    <ul class="main-list">
        <li><a routerLink="/theory" routerLinkActive="active" (click)="refClickedEvt($event)">Theory</a></li>
        <li><a class="a-clickable-without-href" (click)="toggleEfphSubMenu()">Determination of the Eout = f (pH) characteristic</a></li>
        <div class="sub-menu" #efphSubMenu>
            <ul>
                <li style="margin: 6px 0px 2px 0px;"><a routerLink="/efphBuffer" routerLinkActive="active" (click)="refClickedEvt($event)">Test solutions</a></li>
                <li style="margin: 2px 0px 6px 0px;"><a routerLink="/efphUsual" routerLinkActive="active" (click)="refClickedEvt($event)">Solutions occurring in everyday conditions</a></li>
            </ul>
        </div>
        <li><a routerLink="/eft" routerLinkActive="active" (click)="refClickedEvt($event)">Determination of the Eout = f (T) characteristic</a></li>
        <li><a class="a-clickable-without-href" (click)="toggleTitrationSubMenu()">Titration</a></li>
        <div class="sub-menu" #titrationSubMenu>
            <ul>
                <li style="margin: 6px 0px 2px 0px;"><a routerLink="/titrationAcid" routerLinkActive="active" (click)="refClickedEvt($event)">Acid - base titration</a></li>
                <li style="margin: 2px 0px 6px 0px;"><a routerLink="/titrationAlkali" routerLinkActive="active" (click)="refClickedEvt($event)">Base - acid titration</a></li>
            </ul>
        </div>
    </ul>
</nav>
