<nav #transform>
    <ul>
        <li><a routerLink="/theory" routerLinkActive="active" (click)="refClickedEvt($event)">Teoria</a></li>
        <li><a class="a-clickable-without-href" (click)="toggleEfphSubMenu()">Wyznaczenie charakterystyki Eout=f(pH)</a></li>
        <div class="sub-menu" #efphSubMenu>
            <ul>
                <li><a routerLink="/efphBuffer" routerLinkActive="active" (click)="refClickedEvt($event)">Roztwory buforowe</a></li>
                <li><a routerLink="/efphUsual" routerLinkActive="active" (click)="refClickedEvt($event)">Roztwory występujące w codziennych warunkach</a></li>
            </ul>
        </div>
        <li><a routerLink="/eft" routerLinkActive="active" (click)="refClickedEvt($event)">Wyznaczenie charakterystyki Eout=f(T)</a></li>
        <li><a class="a-clickable-without-href" (click)="toggleTitrationSubMenu()">Miareczkowanie</a></li>
        <div class="sub-menu" #titrationSubMenu>
            <ul>
                <li><a routerLink="/titrationAcid" routerLinkActive="active" (click)="refClickedEvt($event)">Miareczkowanie kwasu – zasadą</a></li>
                <li><a routerLink="/titrationAlkali" routerLinkActive="active" (click)="refClickedEvt($event)">miareczkowania zasady – kwasem</a></li>
            </ul>
        </div>
    </ul>
</nav>
